<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a></li>
        <li><span id="site-name">saragibby</span></li>
      </ul>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}blog.html">BLOG</a></li>
        <li><a href="http://linkedin.com/in/{{ site.linkedin }}">RESUME</a></li>
      </ul>
    </div>
  </div>
</nav>
